In [ ]:
# 1. import libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re
import time
import unicodedata

In [72]:
def get_clean_city_population(city,country):
    url = ("https://en.wikipedia.org/wiki/"+city) 
    response = requests.get(url)
    time.sleep(2)
    soup = BeautifulSoup(response.content, "html.parser")

In [92]:
url = ("https://en.wikipedia.org/wiki/List_of_European_cities_by_population_within_city_limits") 
response = requests.get(url)
time.sleep(2)
soup = BeautifulSoup(response.content, "html.parser")
parent = soup.find(class_ = 'wikitable sortable')

In [123]:
children = parent.contents[1]

In [1]:
dictionary = {"City": [],"Population":[]}
for i, child in enumerate(children):
    if((i != 0) & (i%2 == 0)):
        dictionary['City'].append(child.contents[3].get_text().replace('\n',''))
        dictionary['Population'].append(child.contents[7].get_text()[:-1])
    if(i == 24):
        break

NameError: name 'children' is not defined

In [159]:
table = pd.DataFrame.from_dict(dictionary)

In [160]:
table

                City     Population
0           Istanbul  15,462,452[2]
1          Moscow[a]     12,195,221
2             London      9,126,366
3   Saint Petersburg      5,383,890
4             Berlin      3,748,148
5             Madrid      3,223,334
6               Kyiv      2,950,800
7               Rome      2,844,750
8          Bucharest      2,155,240
9              Paris      2,140,526
10             Minsk      1,982,444
11            Vienna      1,921,153